:host {
	display: flex;
	flex-direction: column;
}

@import "../../styles/pageHeader";

$bootstrapGutterSize: 30px;

.list {
	flex: 1 0 auto;
	padding: $bootstrapGutterSize $bootstrapGutterSize / 2 0;
	position: relative;

	.loader {
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
	}

	.character {
		margin-bottom: $bootstrapGutterSize;
	}
}

.paginator {
	flex: 0 0 auto;
}
