<div class="header">
	<h1 class="title">All Characters</h1>
</div>
<div class="list">
	<div class="container-fluid">
		<div class="row">
			<div *ngFor="let character of characters$ | async" class="character col-12 col-md-6 col-lg-4 col-xl-3">
				<mat-card>
					<mat-card-header>
						<mat-card-title>
							<span>{{ character.name }}</span>
						</mat-card-title>
						<mat-card-subtitle>{{ character.gender }} {{ character.species }} - {{ character.status }}</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="{{ character.image }}" alt="Missing photo of {{ character.name }}" />
					<mat-card-actions>
						<button mat-button [routerLink]="['../', character.id]">MORE</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
	</div>
</div>
<div class="paginator">
	<mat-paginator [length]="totalCharactersCount" [pageSize]="PAGE_SIZE" [pageSizeOptions]="[20]"
		(page)="onPageSelected($event.pageIndex + 1)">
	</mat-paginator>
</div>

<div *ngIf="isLoading" class="loader">
	<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
