/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0.25em;
	height: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background: lighten(#708090, 10%);
	border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

.loader {
	display: flex;
	justify-content: center;
}
